<div class="title">  
    <%= title %>
</div>
<br/>
<div class='form'>
	<form method='POST' action='/api/profiles'>
		<div>
			<input type='text' id='first_name' placeholder='First Name'>
		</div>
		<div>
			<input tpe='text' id='last_name' placeholder='Last Name'>
		</div>
		<div>
			<input type='email' id='email' placeholder='Enter Your Email'>
		</div>
		<div>
			<button type='submit'>Submit</button>
		</div>
	</form>
</div>